<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ site.Title }}{{ end }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
{{ $base := readFile "static/css/site.css" | resources.FromString "css/site.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $base.RelPermalink }}" integrity="{{ $base.Data.Integrity }}" crossorigin="anonymous">
{{ $styleguide := readFile "styleguide/styles.css" | resources.FromString "css/styleguide.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styleguide.RelPermalink }}" integrity="{{ $styleguide.Data.Integrity }}" crossorigin="anonymous">
{{ $poster := readFile "styleguide/poster-tweaks.css" | resources.FromString "css/poster-tweaks.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $poster.RelPermalink }}" integrity="{{ $poster.Data.Integrity }}" crossorigin="anonymous">
{{ $adapter := readFile "static/css/editorial-base.css" | resources.FromString "css/editorial-base.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $adapter.RelPermalink }}" integrity="{{ $adapter.Data.Integrity }}" crossorigin="anonymous">
